body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/* HERO */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, black, #1a1a00, orange);
  color: white;
  display: flex;
  align-items: center;
}

.hero-text span {
  color: yellow;
}

.hero-img {
  width: 260px;
  height: 260px;
  padding: 0.2px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(218, 218, 84), rgb(247, 196, 101));
  box-shadow: 0 0 40px rgba(255,200,0,0.8);
}

.hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #010103;
}

/* SECTIONS */
.section {
  padding: 70px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* SKILLS */
.skill i {
  font-size: 40px;
  color: orange;
}

/* CARDS */
.card-box {
  background: rgba(190, 185, 198, 0.48);
  padding: 25px;
  border-radius: 15px;
  border-top: 5px solid orange;
  transition: 0.4s;
}

.card-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(255,165,0,0.6);
}

/* SOFT SKILLS */
.soft-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.soft-skills span {
  background: linear-gradient(135deg, yellow, orange);
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  font-weight: 500;
}

/* CERTIFICATIONS */
.cert-card {
  background: linear-gradient(135deg, yellow, orange);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: 0.4s;
}

.cert-card:hover {
  transform: scale(1.1);
}

/* ACTIVITIES */
.activity {
  background: linear-gradient(135deg, yellow, orange);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: black;
}

.activity i {
  font-size: 35px;
}

.activity:hover {
  transform: translateY(-10px) scale(1.05);
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
/* technical */
/* SKILLS SECTION */
.skill-card {
  background: #111;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  border-top: 4px solid orange;
  transition: 0.4s;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(255,165,0,0.6);
}

.skill-card h5 {
  color: orange;
  margin-bottom: 20px;
  font-weight: bold;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-icons div {
  text-align: center;
}

.skill-icons i {
  font-size: 40px;
  color: orange;
  margin-bottom: 5px;
  transition: 0.3s;
}

.skill-icons span {
  display: block;
  font-size: 14px;
}

.skill-icons i:hover {
  transform: scale(1.2);
  color: yellow;
}

/* frontend */
/* FRONTEND PROJECTS */
.project-card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-card h5 {
  padding: 15px;
  margin: 0;
  background: linear-gradient(135deg, orange, yellow);
  color: black;
  font-weight: bold;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(255,165,0,0.6);
}

.project-card a {
  text-decoration: none;
}
